/* CSS Document */

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
body, button, input, select, textarea {
    font: 12px/1.5 tahoma,arial,宋体;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
address, cite, dfn, em, var {
    font-style: normal;
}
code, kbd, pre, samp {
    font-family: courier new,courier,monospace;
}
small {
    font-size: 12px;
}
ul, ol {
    list-style: none outside none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
legend {
    color: #000000;
}
fieldset, img {
    border: 0 none;
}
button, input, select, textarea {
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#page, #header, #content, #footer {
    margin-left: auto;
    margin-right: auto;
}
.w950 {
    width: 950px;
}
.col-main {
    float: left;
    min-height: 1px;
    width: 100%;
}
.col-sub, .col-extra {
    float: left;
}
.layout:after, .main-wrap:after, .col-sub:after, .col-extra:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
.layout, .main-wrap, .col-sub, .col-extra {
}
html {
}
.sn-mobile, .sn-mobile-link, .sn-quick-menu .sn-mybrand .sn-mybrand-link, .sn-msg-hd, .sn-vip1, .sn-vip2, .sn-vip3, .sn-vip-unactivated, .sn-vip1-unactivated, .sn-vip2-unactivated, .sn-vip3-unactivated, .sn-quick-menu .cart s, .sn-mcate-bd .sn-mcate-logo-link, .sn-mcate-item-channel, .sn-simple-logo-link, .sn-quick-menu .sitemap-more-link, .sn-mcate-bd .sn-mcate-item-bd a {
    background: url("../images/img04.taobaocdn.com/tps/i4/T1TZlJXEdXXXcqmXD0-439-73.png") no-repeat scroll -9999px -9999px transparent;
}
#site-nav {
    background-color: #B10000;
    height: 30px;
    min-width: 990px;
    position: relative !important;
    width: auto;
    z-index: 99999;
}
#sn-bg, #site-nav .sn-edge {
    display: none;
}
#sn-bd {
    margin: auto;
    position: relative;
    width: 630px;
}
#sn-bd:after, #site-nav .sn-container:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
#site-nav .sn-container {
    float: right;
    height: 30px;
    position: static !important;
    width: auto !important;
}
#site-nav .hidden {
    display: none;
}
.sn-login-info a, .sn-login-info a:link, .sn-login-info a:visited {
    color: #FFD0C0;
}
.sn-login-info a:hover {
    color: #FFFFFF;
}
.sn-login-info {
    color: #FFD0C0;
    float: left;
    height: 30px;
    line-height: 30px;
    position: relative;
}
.sn-login-info .sn-user-nick {
    display: inline-block;
    height: 19px;
    line-height: 16px;
    margin-left: -3px;
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}
.sn-login-info .sn-identity {
    display: inline-block;
    height: 18px;
    text-decoration: none;
    vertical-align: middle;
    width: 18px;
}
.sn-login-info .sn-identity.sn-vip1 {
    background-position: -107px -21px;
}
.sn-login-info .sn-identity.sn-vip2 {
    background-position: -131px -21px;
}
.sn-login-info .sn-identity.sn-vip3 {
    background-position: -155px -21px;
}
.sn-login-info .sn-identity.sn-vip1-unactivated {
    background-position: -107px 0;
}
.sn-login-info .sn-identity.sn-vip2-unactivated {
    background-position: -131px 0;
}
.sn-login-info .sn-identity.sn-vip3-unactivated {
    background-position: -155px 0;
}
.sn-login-info .sn-identity.sn-vip-unactivated {
    background-position: -178px 0;
}
.sn-login-info .sn-point {
    outline: 0 none;
    padding: 0 9px 0 2px;
    position: relative;
}
.sn-login-info .sn-point-value, .sn-login-info .sn-msg-num {
    color: #FFFFFF;
    font-family: Tahoma;
    font-weight: bold;
    padding-left: 2px;
}
.sn-login-info .sn-message, .sn-login-info .sn-miao-message {
    margin-right: 5px;
    outline: 0 none;
    position: relative;
}
.sn-login-info .sn-msg-box {
    display: block;
    position: absolute;
    right: 54px;
    top: 18px;
    z-index: 95000;
}
.sn-login-info .sn-msg-hd {
    background: none repeat scroll 0 center transparent;
    border-color: #B10000 #B10000 #635555;
    border-style: dashed solid solid;
    border-width: 0 6px 6px;
    display: block;
    font-size: 0;
    height: 0;
    position: absolute;
    right: 20px;
    top: 6px;
    width: 0;
    z-index: 93420;
}
.sn-login-info .sn-msg-bd {
    background-color: #635555;
    border-radius: 2px 2px 2px 2px;
    display: block;
    height: 20px;
    line-height: 20px;
    padding-right: 22px;
    position: absolute;
    right: 0;
    top: 12px;
    white-space: nowrap;
    z-index: 93410;
}
.sn-login-info a.sn-msg-title:link, .sn-login-info a.sn-msg-title:visited {
    display: inline-block;
    margin-left: 6px;
    max-width: 150px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
}
.sn-login-info .sn-msg-title, .sn-login-info .sn-msg-title:link, .sn-login-info .sn-msg-title:visited, .sn-login-info .sn-msg-close {
    color: #BFB5B5;
}
.sn-login-info .sn-msg-title:hover, .sn-login-info .sn-msg-close:hover {
    color: #FFFFFF;
}
.sn-login-info b.sn-msg-close {
    border-radius: 16px 16px 16px 16px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    padding-left: 2px;
    position: absolute;
    right: 2px;
    top: 1px;
    width: 14px;
}
.sn-login-info b.sn-msg-close:hover, .sn-login-info b.sn-msg-close:active {
    background: none repeat scroll 0 0 #B10000;
    color: #FFFFFF;
}
.sn-login-info .sn-login, .sn-login-info .sn-login:link, .sn-login-info .sn-login:visited {
    color: #FFFFFF;
    margin: 0 5px;
}
.sn-login-info .sn-separator, .sn-simple-logo .sn-separator {
    border-left: 1px solid #8C0000;
    border-right: 1px solid #BE0000;
    display: inline-block;
    font-size: 0;
    height: 12px;
    line-height: 12px;
    margin: 0 2px 0 5px;
    vertical-align: middle;
    width: 0;
}
.sn-welcome-info .sn-separator {
}
.sn-login-info .sn-point, .sn-login-info .sn-message, .sn-login-info .sn-logout, .sn-login-info .sn-login, .sn-login-info .sn-register, .sn-login-info .sn-miao-message {
}
.sn-login-info .sn-logout {
}
.sn-quick-menu {
    float: left;
    height: 30px;
    line-height: 30px;
}
.sn-quick-menu a, .sn-quick-menu a:link, .sn-quick-menu a:visited {
    color: #FFD0C0;
}
.sn-quick-menu a:hover {
    color: #FFFFFF;
}
.sn-quick-menu li {
    float: left;
    position: relative;
}
.sn-quick-menu .sn-separator {
    border-left: 1px solid #8C0000;
    border-right: 1px solid #BE0000;
    font-size: 0;
    height: 12px;
    line-height: 12px;
    margin: 10px 2px 0 5px;
    padding: 0;
    width: 0;
}
.sn-quick-menu .menu-item {
    position: relative;
    z-index: 93110;
}
.sn-quick-menu .menu-hd {
    cursor: pointer;
    display: block;
    height: 100%;
    padding: 0 14px 0 6px;
    position: relative;
    z-index: 93120;
}
.sn-quick-menu .sn-mytaobao .menu-hd {
    width: 48px;
}
.sn-quick-menu .sn-favorite .menu-hd {
    width: 36px;
}
.sn-quick-menu .sn-sitemap .menu-hd {
    width: 48px;
}
.sn-quick-menu .sn-mcate .menu-hd {
}
.sn-quick-menu .menu-hd b, .sn-all-msg b {
    border-color: #FFD0C0 #B10000 #B10000;
    border-style: solid;
    border-width: 3px;
    font-size: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    right: 6px;
    top: 14px;
    width: 0;
}
.sn-quick-menu .hover .menu-hd b, .sn-message:hover .sn-all-msg b, .sn-miao-message:hover .sn-all-msg b {
    border-color: #FFFFFF #726363 #726363;
    transform: rotate(180deg);
    transform-origin: 50% 30% 0;
    transition: transform 0.2s ease-in 0s;
}
.sn-quick-menu .menu-bd {
    background: none repeat scroll 0 0 #635555;
    display: none;
    left: 0;
    opacity: 0.99;
    position: absolute;
    top: 30px;
    z-index: 93110;
}
.sn-quick-menu .menu-bd a:link, .sn-quick-menu .menu-bd a:visited {
    color: #BFB5B5;
}
.sn-quick-menu .menu-bd a:hover, .sn-quick-menu .menu-bd a:active {
    color: #FFD0C0;
}
.sn-quick-menu iframe.menu-bd {
    background: none repeat scroll 0 center transparent;
    border: 0 none;
    float: left;
    z-index: -1;
}
.sn-quick-menu .menu-bd-panel a {
    display: block;
    line-height: 24px;
}
.sn-quick-menu .sn-menu {
    position: relative;
}
.sn-quick-menu .sn-menu a:hover {
    text-decoration: underline;
}
.sn-quick-menu .hover .menu-hd {
    background-color: #726363;
    color: #FFFFFF;
}
.sn-quick-menu .hover .menu-bd {
    display: block;
}
.sn-quick-menu .sn-mytaobao .menu-bd, .sn-quick-menu .sn-favorite .menu-bd, .sn-quick-menu .sn-sitemap .menu-bd {
    line-height: 1.4;
    padding: 8px 10px;
}
.sn-quick-menu .sn-mytaobao .menu-bd {
    width: 74px;
}
.sn-quick-menu .sn-favorite .menu-bd {
    width: 62px;
}
.sn-quick-menu .sn-sitemap .menu-bd {
    overflow: hidden;
    width: 122px;
}
.sn-quick-menu .sn-sitemap ul {
    margin-top: -5px;
}
.sn-quick-menu .sn-sitemap li {
    border-bottom: 1px dotted #827777;
    display: block;
    float: none;
    height: auto;
    line-height: 1.4;
    padding: 5px 0;
}
.sn-quick-menu .sn-sitemap h3 {
    color: #FFFFFF;
    font-weight: bold;
}
.sn-quick-menu .sn-sitemap li a {
    display: inline-block;
    line-height: 22px;
    margin-right: 20px;
    width: 48px;
}
.sn-quick-menu .sn-sitemap .sitemap-right {
    margin-right: 0;
}
.sn-quick-menu .sn-sitemap a.sitemap-more {
    display: block;
    height: 20px;
    line-height: 20px;
    padding-top: 6px;
}
.sn-quick-menu .sitemap-more-link {
    background-position: -425px -59px;
    display: inline-block;
    height: 15px;
    margin-left: 4px;
    vertical-align: middle;
    width: 15px;
}
.sn-quick-menu .sn-mybrand a, .sn-quick-menu .sn-mobile a, .sn-quick-menu .sn-home a, .sn-quick-menu .sn-seller a {
    display: inline;
}
.sn-quick-menu .sn-mybrand, .sn-quick-menu .sn-mobile, .sn-quick-menu .sn-home, .sn-quick-menu .sn-seller {
    padding: 0 4px 0 5px;
}
.sn-quick-menu .sn-mybrand .sn-mybrand-link {
    background-position: -2px -22px;
    padding-left: 20px;
}
.sn-quick-menu .sn-mobile .sn-mobile-link {
    background-position: -179px -23px;
    padding-left: 20px;
}
.sn-quick-menu .sn-mcate-hd {
    color: #FFD0C0;
    cursor: default;
    font-size: 12px;
}
.sn-quick-menu .hover .sn-mcate-hd {
    background: none repeat scroll 0 0 #6F6060;
    color: #FFFFFF;
}
.sn-quick-menu .hover .sn-mcate-hd:hover {
    color: #FFFFFF;
}
.sn-mcate-bd {
    background: none repeat scroll 0 0 #635555;
    display: none;
    left: 0;
    min-width: 990px;
    opacity: 0.99;
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 9999999;
}
.sn-mcate-bd .sn-mcate-ctn-con {
    margin: auto;
    overflow: hidden;
    padding: 50px 0 30px;
    position: relative;
    width: 990px;
}
.sn-mcate-bd .sn-mcate-logo-link {
    background-position: -4px -42px;
    display: inline-block;
    height: 30px;
    left: 0;
    margin-top: 14px;
    opacity: 0.97;
    position: absolute;
    text-indent: -10000em;
    top: 0;
    width: 190px;
    z-index: 99999999;
}
.D950 .sn-mcate-bd .sn-mcate-logo-link {
    background-position: -267px -8px;
    height: 25px;
    margin-top: 15px;
    width: 164px;
}
a.sn-mcate-logo-link:hover, a.sn-mcate-logo-link:active {
    border-bottom: 2px solid #FFFFFF;
}
.sn-mcate-bd .sn-mcate-ctn {
    margin: auto;
    width: 1000px;
}
.sn-mcate-bd .sn-mcate-ctn:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
.sn-mcate-bd .sn-mcate-ctn li {
    float: left;
    height: 65px;
    padding: 20px 9px 0 16px;
    width: 175px;
}
.sn-mcate-bd .sn-mcate-ctn .sn-mcate-item-hd {
    border-bottom: 1px dotted #9B9292;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 3px;
}
.sn-mcate-bd a.sn-mcate-item-channel {
    background-position: -203px 0;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    height: 16px;
    left: 5px;
    line-height: 16px;
    padding-left: 4px;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: -2px;
    vertical-align: middle;
    width: 50px;
}
.sn-mcate-bd a.sn-mcate-item-channel:hover, .sn-mcate-bd a.channelHover {
    background-position: -203px -39px;
    color: #726363;
    text-decoration: none;
}
.sn-mcate-bd .sn-mcate-item-bd {
    font-size: 0;
    height: 44px;
    overflow: hidden;
    padding-top: 1px;
    width: 100%;
}
.sn-mcate-bd .sn-mcate-item-bd a {
    letter-spacing: -5px;
}
.sn-mcate-bd .sn-mcate-item-bd a {
    background-position: -438px -39px;
    color: #BFB5B5;
    display: inline-block;
    font-size: 12px;
    letter-spacing: normal;
    margin: 3px 0 3px -8px;
    padding: 0 16px 0 8px;
    word-spacing: normal;
}
.sn-mcate-bd .sn-mcate-item-bd a.no-sep-link {
    background: none repeat scroll 0 center transparent;
}
.sn-mcate-bd .sn-mcate-ctn .sn-mcate-item-bd a:hover, .sn-mcate-bd .sn-mcate-ctn .sn-mcate-item-bd a:active {
    color: #FFD0C0;
}
.sn-mcate-unready {
    color: #FFFFFF;
    font-size: 16px;
    height: auto !important;
    line-height: 335px;
    min-height: 335px;
    text-align: center;
}
.sn-quick-menu .cart {
    padding: 0 5px 0 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 36px;
}
.sn-quick-menu .mini-cart {
    padding-right: 0;
    width: 70px;
}
.sn-quick-menu .mini-cart .menu-hd {
    padding: 0;
    position: static;
    text-decoration: none;
}
.sn-quick-menu .cart s {
    background-position: -2px -1px;
    height: 14px;
    left: 8px;
    position: absolute;
    top: 8px;
    width: 16px;
}
.sn-quick-menu .mini-cart s {
    left: 13px;
}
.sn-quick-menu .mc-count {
    color: #FFFFFF;
    font-family: Arial;
    font-weight: bold;
    padding: 0 2px;
}
.sn-quick-menu .menu-hd:hover .mini-cart-line {
    border-top: 1px solid #FFFFFF;
    display: block;
    font-size: 0;
    height: 0;
    left: 32px;
    line-height: 0;
    position: absolute;
    top: 21px;
    width: 65px;
    z-index: 93130;
}
#gb-msg-notice {
    background-color: #FFF8D9;
    border: 1px solid #FEBF90;
    color: #404040;
    left: -9999px;
    padding: 5px 20px 5px 5px;
    position: absolute;
    top: 0;
}
#gb-msg-notice a, #gb-msg-notice a:link, #gb-msg-notice a:hover {
    color: #3366CC;
}
#gb-msg-notice a:hover {
    color: #FF6600;
}
#gb-msg-notice .gb-msg-info {
    background: url("../images/img04.taobaocdn.com/tps/i4/T1LjukXmNrXXXXXXXX-16-29.png") no-repeat scroll 0 3px transparent;
    padding-left: 20px;
}
#gb-msg-notice .gb-msg-icon {
    font-size: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    width: 0;
}
#gb-msg-notice .gb-msg-close {
    background: url("../images/img04.taobaocdn.com/tps/i4/T1LjukXmNrXXXXXXXX-16-29.png") no-repeat scroll 0 -20px transparent;
    cursor: pointer;
    height: 9px;
    right: 5px;
    top: 10px;
    width: 9px;
}
#gb-msg-notice .gb-msg-tri, #gb-msg-notice .gb-msg-tri-inner {
    border-color: transparent transparent #FEBF90 #FEBF90;
    border-style: dashed dashed solid solid;
    border-width: 4px;
    left: 20px;
    top: -8px;
}
#gb-msg-notice .gb-msg-tri-inner {
    border-bottom-color: #FFF8D9;
    border-left-color: #FFF8D9;
    left: -3px;
    top: -2px;
}
#system-announce {
    background-color: #F6F6F6;
    border: 1px solid #EEEEEE;
    clear: both;
    color: #FF3300;
    font-weight: bold;
    line-height: 18px;
    padding: 8px 0;
    text-align: center;
}
.tml-mask-b2b {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100002;
}
.tml-mask-b2b iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.tml-dialog-b2b {
    height: 370px;
    left: 50%;
    margin-left: -315px;
    margin-top: -190px;
    position: fixed;
    top: 50%;
    width: 627px;
    z-index: 100003;
}
.tml-dialog-b2b .tml-dialog-skin {
}
.sn-simple-logo {
    height: 30px;
    left: 0;
    line-height: 30px;
    margin-right: 20px;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 220px;
}
.sn-simple-logo-link {
    background-position: -199px -58px;
    display: block;
    float: left;
    height: 16px;
    margin: 7px 0;
    overflow: hidden;
    position: relative;
    text-indent: -9999px;
    width: 96px;
}
.sn-simple-logo .sn-separator {
    margin-bottom: 9px;
    margin-top: 9px;
}
.sn-simple-logo-shop {
    color: #FFFFFF;
    font-family: 'Lucida Grande','微软雅黑';
}
.w990 .sn-simple-container .sn-mobile, .w990 .sn-simple-container .sn-home {
    display: none;
}
.safari-font-fix {
    font-family: 'Lucida Grande',tahoma,arial,'微软雅黑','宋体';
}
.cart, .sn-mybrand, .sn-mobile, .sn-home, .sn-point, .sn-message, .sn-miao-message {
}
.sn-quick-menu .menu-hd b {
}
.sn-simple-logo {
}
.sn-mcate-bd .sn-mcate-item-bd a {
}
.sn-quick-menu .menu-hd b {
    top: 12px;
}
.sn-quick-menu .hover .menu-hd b {
    border-color: #726363 #726363 #FFFFFF;
    top: 10px;
}
.sn-mytaobao, .sn-mcate, .sn-sitemap, .sn-favorite {
    top: 1px;
}
.cart, .sn-mybrand, .sn-mobile, .sn-home, .sn-point, .sn-message, .sn-miao-message {
    top: 0;
}
.sn-mcate-bd .sn-mcate-item-bd a {
    background-position: -438px -40px;
}
.sn-quick-menu .menu-hd b {
}
.sn-quick-menu .hover .menu-hd b {
}
.sn-quick-menu .sn-mybrand .sn-mybrand-link {
}
.sn-quick-menu .sn-mobile .sn-mobile-link {
}
.sn-simple-logo-shop {
    position: relative;
    top: 1px;
}
.sn-mybrand, .sn-mobile, .sn-simple-logo-link, .sn-point, .sn-message, .sn-miao-message {
}
.cart, .sn-mybrand, .sn-mobile, .sn-simple-logo-link, .sn-point, .sn-message, .sn-miao-message {
}
.sn-mytaobao, .sn-sitemap {
}
.sn-favorite {
}
.sn-mcate {
}
.sn-miao-message, .sn-welcome-info {
    float: left;
    height: 30px;
}
.sn-miao-message, .j_Message {
}
.sn-miao-message .sn-msg-body {
    left: 0;
    padding: 10px;
    width: 70px;
}
.sn-miao-message .sn-menu, .sn-welcome-info, .sn-miao-message, .sn-msg-body {
    display: block;
}
.sn-miao-message .sn-all-msg {
    padding-right: 16px;
}
.sn-msg-body a {
    line-height: 24px;
}
.sn-miao-message .sn-msg-body a:hover, .sn-miao-message .sn-msg-body a:active {
    text-decoration: none;
}
.sn-msg-body a:hover span {
    text-decoration: underline;
}
.sn-msg-body a em {
    color: #FFFFFF;
    float: right;
    position: relative;
    top: 3px;
    width: 15px;
}
.sn-miao-message:hover {
    background-color: #726363;
    color: #FFFFFF;
}
.sn-miao-message:hover .menu-bd {
    display: block;
}


